.ta-center
  -# %img{:src => "http://insureth.mkvd.net/images/qrcode.gif"}/
  %img{src:"/img/poolsureth1.png"}


%section.hero
  .hero-body
  .container
  .columns.is-vcentered
    .column.is-8.is-offset-2
      %h3.title.text-white.has-text-centered.is-bold
        Configure your Insurance Contract





  .columns
    .column.is-10.is-offset-1
      .columns.is-vcentered
        .column.is-3
          .box.transparent
            .field
            %label.label Type of Travel
            .control
              .select
                %select{ name: "type" }
                  %option{ value: "insureth_flight" } Flight (InsurETH)
                  %option{ value: "etherisc_flight" } Flight (Etherisc)
                  %option{ value: "insureth_train" } Train (InsurETH)
                  %option{ value: "etherisc_train" } Train (Etherisc)
                  %option{ value: "missing_api_cruise" } Cruise
                  %option{ value: "missing_api_holiday" } Holiday
        .column.is-3
          .box.transparent
            .field
            %label.label API
            .control
              .select
                %select{ name: "api" }
                  %option{ value: "flightaware" } flightaware.com
                  %option{ value: "flightstats" } flightstats.com
                  %option{ value: "tfl" }         TFL tube
                  %option{ value: "custom_todo" } Custom
        .column.is-3
          .box.transparent
            .field
            %label.label Oracle
            .control
              .select
                %select{ name: "oracle" }
                  %option{ name: "oraclize" }     Oraclize
                  %option{ name: "reality_keys" } Reality Keys
                  %option{ value: "custom_todo" } Custom

        .column.is-3
          .box.transparent
            .field
            %label.label Policy
            .control
              .select
                %select{ name: "policy" }
                  %option{ value: "fixed" } Fixed reward
                  %option{ value: "flexi" } Flexible reward
                  %option{ value: "custom_todo" } Custom

  .s30
  .columns.is-vcentered
    .column.is-8.is-offset-2
      %div.ta-center
        %a.button.is-primary.is-medium.is-long.btn-configure
          Configure

  .s30
  %h2.ta-center Contract Source

  .s20
  .container
    .columns
      .column
        %textarea.textarea.is-long.is-tall.contract_source
          Click the 'Configure' button above to load the customised contract source.

.s50
.columns.is-vcentered
  .column.is-8.is-offset-2
    %div.ta-center
      %a.button.is-primary.is-medium.is-long
        Apply
.s50

%p


%section.hero.is-grey
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-4.is-offset-4
          %h3.title.text-white.has-text-centered
            Deploy via MetaMask

      %p.ta-center
        Make sure your metamask is unlocked and
        %strong it doesn't point to MainNet

      .columns
        .column.is-6.is-offset-3
          %p Your MetaMask Address

          .metamask_address.bg-white.padded
          .s20

          %p Your (ETH) balance (in wei):

          .balance.bg-white.padded
          .s20

          %p Insurance Contract Address

          .contract_address.bg-white.padded
            \ 0x...
          .s20


      .column.is-8.is-offset-2
        %div.ta-center
          %a.button.is-primary.is-medium.is-long.deploy_contract_btn
            Deploy
.s50

%p

%section.hero.is-primary
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Test your contract as:

      .container
        .columns.is-vcentered
          .column.is-4.is-offset-2
            .box.transparent
              %div.ta-center
                %a.button.is-primary.is-medium{ href: "/#client" }
                  Client

          .column.is-4
            .box.transparent
              %div.ta-center
                %a.button.is-primary.is-medium{ href: "/#investor" }
                  Investor


-# Client page

.s50

%p

%section.hero.is-primary#client
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h2.title.text-white.has-text-centered.is-bold
            Get your Automated Insurance
          %h3.title.text-white.has-text-centered.is-bold
            Enter your flight number

          .field
            %label.label Flight Number
            .control
              %input.input{:placeholder => "ex: BA 123", :type => "text"}/


%section.hero.is-grey
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Insure for
          %h4.title.text-white.has-text-centered.is-bold
            %span.insure_amount_gbp 50
            £
          %h4.title.text-white.has-text-centered.is-bold
            \~
            %span.insure_amount_eth 0.3
            ETH

          -# .field
          -#   %label.label Amount
          -#   .control
          -#     %input.input{:placeholder => "ex: 1.2 Eth", :type => "text"}/
          .ta-center
            %input{:max => "100", :min => "30", :name => "insure_amount", :step => "5", :style => "width: 243px", :type => "range", :value => "50"}/

          .column.is-8.is-offset-2
            %div.ta-center
              %a.button.is-primary.is-medium
                Insure

%section
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Deposit 0.1 ETH to address:
          -# %h4.title.text-white.has-text-centered.is-bold
          -#   (This is a proof of concept, don't deposit any ether please)
          .ta-center
            %img{:src => "http://insureth.mkvd.net/images/qrcode.gif"}/
          %h4.title.text-white.has-text-centered.is-bold
            0x0462838f4e30223d51310c9725c51217481141c2

          .column.is-8.is-offset-2
            %div.ta-center
              %a.button.is-primary.is-medium
                \...
                -# TEMP: Deposit Done

%section.hero.is-primary
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Your flight has been insured!

          .column.is-8.is-offset-2
            %div.ta-center
              %a.button.is-small.is-transparent
                Check the Contract (Loading...)

          %p.ta-center Thanks for using our service.



-# Investor page

.s50
.s50

%hr

.s50

%section.hero.is-grey#investor
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h2.title.text-white.has-text-centered.is-bold
            PoolSureETH lets you invest into an automated flight insurance service
          %h3.title.text-white.has-text-centered.is-bold
            Enter your flight number

%section
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Deposit any amount of ETH to address:
          %h4.title.text-white.has-text-centered.is-bold
            (This is a proof of concept, don't deposit any ether please)
          .ta-center
            %img{:src => "http://insureth.mkvd.net/images/qrcode.gif"}/
          %h4.title.text-white.has-text-centered.is-bold
            0x0462838f4e30223d51310c9725c51217481141c2

          .column.is-8.is-offset-2
            %div.ta-center
              %a.button.is-primary.is-medium
                \...
                -# TEMP: Deposit Done


%section.hero.is-primary
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            You invested successfully!


          .column.is-8.is-offset-2
            %div.ta-center
              %a.button.is-small.is-transparent
                Check the Contract (Loading...)

          %p.ta-center Thanks for using our service.
