%section.hero
  .hero-body
  .container
  .columns.is-vcentered
    .column.is-8.is-offset-2
      %h3.title.text-white.has-text-centered.is-bold
        Configure your Insurance Contract

  .container
    .columns.is-vcentered
      .column.is-4
        .box.transparent
          .field
          %label.label Type
          .control
            .select
              %select
                %option Flight Insurance
                %option Train Insurance
                %option Cruise Insurance
                %option Car Insurance
      .column.is-2
        .box.transparent
          .field
          %label.label API
          .control
            .select
              %select
                %option 1
                %option 2
                %option 3
                %option 4
      .column.is-4
        .box.transparent
          .field
          %label.label Oracle
          .control
            .select
              %select
                %option Oraclize Premium
                %option Oraclize Basic

      .column.is-3
        .box.transparent
          .field
          %label.label Policy
          .control
            .select
              %select
                %option Premium
                %option Basic

.s50
.columns.is-vcentered
  .column.is-8.is-offset-2
    %div.ta-center
      %a.button.is-primary.is-medium.is-long
        Apply
.s50

%p


%section.hero.is-grey
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-4.is-offset-4
          %h3.title.text-white.has-text-centered
            Deploy via MetaMask


      .column.is-8.is-offset-2
        %div.ta-center
          %a.button.is-primary.is-medium.is-long
            Deploy
.s50

%p

%section.hero.is-primary
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-8.is-offset-2
          %h3.title.text-white.has-text-centered.is-bold
            Usecase

      .container
        .columns.is-vcentered
          .column.is-4.is-offset-2
            .box.transparent
              %div.ta-center
                %a.button.is-primary.is-medium
                  Insurer

          .column.is-4
            .box.transparent
              %div.ta-center
                %a.button.is-primary.is-medium
                  Investor
